# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Local SQLite databases (if generated during testing)
*.db-journal
*.db-wal
